<div class="panel panel-default">
  <div class="panel-heading">House Status</div>
  <div class="panel-body">INSERT DASHBOARD DISPLAY FOR ROOMS</div>
</div>

<div class="panel panel-default">
  <div class="panel-heading"><div class="panel-title">Dining Room Tasks</div></div>
  <ul class="list-group" style="text-align: center;" id="todoList">
  <li class="list-group-item list-group-item-success">Clean Table</li>
  <li class="list-group-item list-group-item-warning">Vacuum</li>
  <li class="list-group-item">Dust Fan</li>
  <li class="list-group-item">Clear Table</li>
</ul>
</div>
